name: compass-interface-core
channels:
  - conda-forge
  - defaults
dependencies:
  - python>=3.9
  - pip

  # For web requests
  - requests

  # For parsing results
  - lxml

  # Type validation
  - pydantic
  - email-validator
  - phonenumbers  # phonenumberslite?

  # Testing
  - pytest

  # Development (Tools, Style, Linting)
  - ipython
  - mypy
  - black
  - isort
  #  - prospector
    # prospector currently pins to pylint==2.5.3, which itself pins to isort<5.
    # To use isort>=5.0.0, we must use pylint>=2.6.0, and wait for prospector to update.
    # Current as at 20-01-2021
  - pre-commit
  - virtualenv==20.0.33  # Solve regression, see
      # https://github.com/ContinuumIO/anaconda-issues/issues/12094
      # https://github.com/pypa/virtualenv/issues/1986
      # https://github.com/pre-commit/pre-commit/issues/1675

  - pip:
    # Build
    - build  # PyPA build package (not on conda 04/01/21)
