# Build system requirements.
[build-system]
requires = ["setuptools>=41.0", "wheel"]  #"setuptools-scm",
build-backend = "setuptools.build_meta"

# Black configuration
[tool.black]
line-length = 132  # 120*1.1
target-version = ['py38']  # Remember to change this if we change pins from Python 3.8!
