# Compass-Interface Core
compass-interface-core>=0.13.0

# Transforming
pandas>=1.2.0
pyarrow>=1.0.0

# API
fastapi
python-jose>=3.1.0
aioredis
python-multipart>=0.0.5

# Deployment
gunicorn; platform_system != "Windows"
uvicorn; platform_system == "Windows"
