# core, testing
-r ci/requirements-test.txt

# type stubs
-r ci/requirements-typing.txt

# dev
ipython

# linting
black
isort
pre-commit
pylint
flake8
pep8-naming
pydocstyle
bandit
pyroma
mypy

# build
build